.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  flex: 1 1 0;
  background-color: hsl(220deg 13% 13%);
  color: white;
}

.App-section-character {
  display: flex;
}

.App-section-character-attributes {
  flex: 2;
  border-radius: 4px;
  box-shadow: 0px 0px 10px white;
  margin: 1rem;
  padding: 1rem;
}

.App-character-attribute-item {
  margin: 5px;
}

.App-character-attribute-item-button {
  margin-left: 3px;
}

.App-section-character-classes {
  flex: 1;
  border-radius: 4px;
  box-shadow: 0px 0px 10px white;
  margin: 1rem;
  padding: 1rem;
}

.App-character-class-item {
  cursor: pointer;
}

.App-character-class-item__active {
  color: green;
}

.App-section-character-classes-selected {
  flex: 2;
  border-radius: 4px;
  box-shadow: 0px 0px 10px white;
  margin: 1rem;
  padding: 1rem;
}

.App-section-character-skills {
  flex: 3;
  border-radius: 4px;
  box-shadow: 0px 0px 10px white;
  margin: 1rem;
  padding: 1rem;
}

.App-character-skill-item {
  margin: 5px;
}

.App-character-skill-item-button {
  margin: 0 3px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
